.page {
	padding: 0;
	margin: 0 auto;
	font-family: "Montserrat", "Arial", sans-serif;
	background-color: #2a2c2f;
	width: 100%;
	max-width: 2240px;
	min-width: 320px;
	color: $main-color;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	background-color: #090d11;

	&__container {
		margin: 0 auto;
		width: 100;
		max-width: 2240px;
		border: 1px solid red;
	}
}

@media screen and (max-width: 767px) {
	.page {
		margin: 0;
	}
}
