.product-list {
	width: 100%;
	max-width: 1441px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	a {
		max-height: 68px;
		padding: 0px 27px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: $main-color;
		box-shadow: 0 0 5px rgba(212, 60, 56, 1);
		border: 2px solid #d43c38;
		@extend %transition;

		&:hover {
			@extend %hover;
		}
	}
}

.product-box {
	width: 100%;
	padding: 0px 60px 0px;
	margin: 0 auto 160px;
	display: grid;
	box-sizing: border-box;
	grid-template-columns: repeat(auto-fit, minmax(427px, 1fr));
	gap: 80px;

	@include phablet {
		max-height: 379px;
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex-direction: row;
		overflow: hidden;
	}
}

.active {
	border: 2px solid #d43c38;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 15px rgba(212, 60, 56, 0.5);
	padding: 30px 24px 40px;

	@include phablet {
		max-width: calc(100% - 100 * 2);
	}

	&__img {
		background: radial-gradient(100%, #fff); //???
		margin-bottom: 21px;
		width: calc(100% - 24px * 2);
		box-sizing: border-box;
	}

	&__name {
		font-size: 26px;
		font-style: normal;
		font-weight: 900;
		line-height: 27px;
		letter-spacing: 0.06em;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 12px;
	}

	&__description {
		padding: 0px 1px 0px;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.06em;
		text-align: center;
		margin-bottom: 37px;
	}

	&__details-text {
		font-size: 18px;
		font-style: normal;
		font-weight: 900;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
	}

	&__details-btn {
		width: 37px;
		height: 7px;
		margin-left: 15px;
		color: $main-color;
		box-sizing: border-box;
		background-image: url(../../images/main/product-list/details.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.prev {
	@extend %btn-invisible;
	border: 1px solid red;

	@include phablet {
		display: block;
		background-image: url(../../images/main/product-list/arrow_previos.svg);
		// 	@extend %transition;
		// 	@extend %btn-visible;
	}
}

.next {
	@extend %btn-invisible;
	border: 1px solid red;

	@include phablet {
		display: block;
		background-image: url(../../images/main/product-list/arrow_next.svg);
		@extend %transition;
		@extend %btn-visible;
	}
}
